html {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
}

body{
    margin: 0;
}
p {
    margin-right: 2.8em;
    font-weight: bold;
    font-size: 0.8em;
    font-weight: 500;
}
p:hover{
    color:#6b53f0;
    transition: 0.4s;
}

button {
    background-color: white;
    border-radius: 30px;
    padding: 0em 1.5em;
    height: 2.5em;
    border: 2px solid black;
    font-size: 0.8em;
    width: 8em;
}
button:hover{
    background-color: black;
    color: white;
    border: solid black 2px;
    transition: 0.4s;
}
#navbar{
    display: flex; 
    border-bottom: 1px solid gray; 
    padding: 18px 80px; 
    justify-content: space-between;
    position: sticky;
    top: 0px;
    background-color: white;

}
div#navbar-right{
    display: flex; 
    align-items: center;
    margin: 0px 100px;
    

}
div#navbar-left img {
    width: 9em;
}

h1#proposito{
    margin: 90px 380px 40px 380px;
    text-align: center;
    font-weight: 600;
    font-size: 1.8em;
    color: #201b24;
}
#botones-titulo{
    display: flex;
    justify-content:space-between; 
    margin: 10px 540px
    
}

button.boton-contactanos{
    width: 140px;
    height: 35px;
    border: solid 2px;
    font-weight: 500;
}

button.boton-sumate{
    width: 110px;
    height: 35px;
    border: solid 2px;
    font-weight: 500;
    color: #6b53f0
}    
button.boton-contactanos:hover{
    background-color: black;
    border: solid black 2px;
    color: white;
    transition: 0.4s;

}
button.boton-sumate:hover{
    background-color: #6b53f0;
    border: solid #6b53f0 2px;
    color: white;
    transition: 0.4s;
}

@media (width >= 2500px) {
    html {
        font-size: 28px;
    }
}

@media (width >= 3500px) {
    html {
        font-size: 32px;
    }
}
