html {
    font-family: 'Inter', sans-serif;
    font-size: 16px;

}

body{
    margin: 0;
}
p {
    margin-right: 2.8em;
    font-weight: bold;
    font-size: 0.8em;
    font-weight: 500;
}
#navbar-right p:hover{
    color:#6b53f0;
    transition: 0.4s;
}

button {
    background-color: white;
    border-radius: 30px;
    padding: 0em 1.5em;
    height: 2.5em;
    border: 2px solid black;
    font-size: 0.8em;
    width: 8em;
    font-weight: 500;
}
button:hover{
    background-color: black;
    color: white;
    border: solid black 2px;
    transition: 0.4s;
    font-weight: 500;
}
#navbar{
    display: flex; 
    border-bottom: 1px solid gray; 
    padding: 18px 80px; 
    justify-content: space-between;
    position: sticky;
    top: 0px;
    background-color: white;

}
div#navbar-right{
    display: flex; 
    align-items: center;
    margin: 0px 100px;
    

}
div#navbar-left img {
    width: 9em;
}

#nueva{
    background-color: white;
}

h1#proposito-lema{
    margin: 90px 380px 40px 380px;
    text-align: center;
    font-weight: 600;
    font-size: 1.8em;
    color: #201b24;
    
}
#button-title{
    display: flex;
    justify-content:space-between; 
    margin: 10px 540px;
    margin-bottom: 100px;
}

button.button-contactanos{
    width: 140px;
    height: 35px;
    border: solid 2px;
    font-weight: 500;
}

button.button-sumate{
    width: 110px;
    height: 35px;
    border: solid 2px;
    font-weight: 500;
    color: #6b53f0
}    
button.button-contactanos:hover{
    background-color: black;
    border: solid black 2px;
    color: white;
    transition: 0.4s;
    font-weight: 500;

}
button.button-sumate:hover{
    background-color: #6b53f0;
    border: solid #6b53f0 2px;
    color: white;
    transition: 0.4s;
    font-weight: 500;
}

div#impacto{
    display: flex;
    height: 450px;
    background-color: #201b24;
    color: white;
    align-items: center;
    justify-content: space-between;
    
}
#impacto-left{
    width: 50%;
    margin: 0px 100px;
    padding: 100px;
}
.subtitulo-impacto{
    font-size: 0.85em;
    line-height: 1.6em;
    font-weight: 400;
}
#impacto-right{
    display: flex;
    width: 50%;
    justify-content: baseline;
    text-align: center;
    margin: 10px;
    position: relative;
    right: 150px;
    top: 25px;
}

.numbers{
    font-size: 3em;
    font-weight: 700;
    margin: 0px 10px;
}

.undernumber{
    font-size: 0.85em;
    line-height: 1.6em;
    font-weight: 400;
    color: #8c939c;
    margin: 0px 10px;
    text-align: center;
}

.plus-sign{
    color:#6b53f0;
    font-size: 0.5em;
    font-weight: 400;
    position: relative;
    bottom: 10px;
}

#background-team{
    height: 100vh;
    width: 100vw;
    background-attachment: fixed;
    overflow: scroll;
    background-image: url(imagenes/twp-home.jpg) ;
    background-size: cover;
}

div.boxes-page{
    display: flex;
    margin-top: 100px;
    margin-left: 70px;
}

.images-left{
    border-radius: 0px 50px 50px 50px;
    width: auto;
}
.images-right{

    border-radius: 50px 50px 0px 50px;
    width: auto;
}


#programas-right{
    justify-content: center;
    padding: 190px 80px;


}
.boxes-page h1{
    font-weight: 600;
}
.boxes-page h2{
    font-weight: 600;
}

.text{
    font-size: 0.89em;  
    font-weight: 400;
    line-height: 22px;
}

#imagen-programas-right{
    width: 49%;
}

.mas-info{
    width: 120px;
    height: 40px;
}


#robotica-left{
    padding: 6%;
}

#capacitaciones-right{
    padding: 6%;
    margin-top: 7%;

}

#seguridad-left{
    padding: 6%;
}

@media (width >= 2500px) {
    html {
        font-size: 28px;
    }
}

@media (width >= 3500px) {
    html {
        font-size: 32px;
    }
}
